---
import MFLogo from "../Header/MFLogo.astro";
import ProjectCard from "./components/ProjectCard.astro";
import { PROGETTI } from "./projects";
---

<section
  class="mx-auto max-w-[1200px] flex flex-col flex-nowrap items-start p-5 mb-28 mt-72"
>
  <div class="relative flex items-center justify-center w-full">
    <h1
      class="font-italianno radient-animation text-[85px] sm:text-[120px] mb-16 transition-opacity"
    >
      Progetti
    </h1>
    <svg class="-z-10 absolute opacity-20 show" viewBox="0 0 1920 1080">
      <text
        x="50%"
        y="50%"
        text-anchor="middle"
        class="font-italianno text-[800px] sm:text-[500px] stroke-2 stroke-[rgba(254, 240, 138, 1)] dark:stroke-[rgba(254, 240, 138, 1)] animate-[stroke_5s_infinite]"
      >
        Progetti
      </text>
    </svg>
  </div>

  {
    PROGETTI.map(
      ({
        id,
        className,
        projectImgUrl,
        tecnologies,
        title,
        subtitle,
        description,
        codeUrl,
        previewUrl,
      }) => {
        return (
          <ProjectCard
            id={id}
            tecnologies={tecnologies}
            className={className}
            projectImgUrl={projectImgUrl}
            title={title}
            subtitle-={subtitle}
            description={description}
            codeUrl={codeUrl}
            previewUrl={previewUrl}
          />
        );
      }
    )
  }
</section>

<script is:inline>
  // Funzione per avviare l'animazione quando l'elemento è visibile
  function startAnimation(entries, observer) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
        observer.unobserve(entry.target); // Rimuove l'observer dopo l'animazione
      }
    });
  }

  // Creazione dell'Intersection Observer
  const observer = new IntersectionObserver(startAnimation, {
    threshold: 0.7, // Quando almeno il 70% dell'elemento è visibile
  });

  // Elemento da osservare
  const svg = document.querySelector("svg");
  const title = document.querySelector("h1");
  observer.observe(svg);
  observer.observe(title);
</script>

<style></style>
