---
import type { ImageMetadata } from "astro";
import Button from "../../SocialButton.astro";
import github from "../../../../public/svg/github.svg";
import vercel from "../../../../public/svg/vercel_dark.svg";
import TechTag from "./TechTag.astro";

const {
  id,
  className,
  projectImgUrl,
  tecnologies,
  title,
  description,
  codeUrl,
  previewUrl,
} = Astro.props;
---

<article
  id={id}
  class={`${className} flex flex-col lg:flex-row justify-center items-center lg:justify-start lg:items-start gap-10 my-20 mx-auto`}
>
  <div class="relative bg-black/20 lg:w-1/2 rounded-3xl overflow-hidden">
    <img class="aspect-video rounded-3xl" src={projectImgUrl} alt="" />
    <h3
      class="absolute radient-animation top-3 right-3 font-italianno text-5xl"
    >
      {title}
    </h3>

    <div
      id="skillsLabels"
      class="absolute top-3 left-3 flex flex-row flex-wrap gap-3 w-24"
    >
      {
        tecnologies.map((item: { name: string; svg: ImageMetadata }) => (
          <TechTag text={item.name} svg={item.svg} />
        ))
      }
    </div>
  </div>
  <div
    class="flex flex-col gap-5 lg:w-1/2 justify-center items-center lg:justify-start lg:items-start"
  >
    <p class="text-xl sm:text-2xl text-balance my-8 w-full">{description}</p>
    <div id="linkButtons" class="flex flex-row flex-nowrap gap-3">
      {
        codeUrl ? (
          <Button text="Codice sorgente" svg={github} href={codeUrl} />
        ) : (
          ""
        )
      }
      <Button text="Live Preview" svg={vercel} href={previewUrl} />
    </div>
  </div>
</article>
