---
import type { ImageMetadata } from "astro";
import BadgeButton from "../../SocialButton.astro";
import github from "/src/assets/github.svg";
import vercel from "/src/assets/vercel_dark.svg";
import TechTag from "./TechTag.astro";
import { Image } from "astro:assets";

const {
  id,
  projectImgUrl,
  tecnologies,
  title,
  description,
  codeUrl,
  previewUrl,
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp,svg}"
);

if (!images[projectImgUrl])
  throw new Error(
    `"${projectImgUrl}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
---

<article
  id={id}
  class={`flex flex-col lg:flex-row gap-10 mx-auto transition duration-300 hover:scale-105`}
>
  <div class="relative flex aspect-video">
    <Image
      loading="eager"
      width={projectImgUrl.width}
      height={projectImgUrl.height}
      format={projectImgUrl.format}
      class="md:scale-105 relative aspect-video rounded-3xl"
      src={images[projectImgUrl]()}
      alt={`${title} screenshot`}
    />
    <div
      id="skillsLabels"
      class="flex flex-row flex-wrap gap-3 absolute top-3 left-3"
    >
      {
        tecnologies.map(
          (item: { name: string; svg: ImageMetadata; color: string }) => (
            <TechTag text={item.name} svg={item.svg} color={item?.color} />
          )
        )
      }
    </div>
  </div>

  <div class="flex flex-col gap-5 lg:w-full rounded-3xl px-5">
    <h3 class="text-5xl font-italianno">
      {title}
    </h3>

    <p class="text-lg text-balance w-full opacity-70">{description}</p>
    <div id="linkButtons" class="flex flex-row flex-nowrap gap-3">
      {
        codeUrl ? (
          <BadgeButton text="Codice sorgente" svg={github} href={codeUrl} />
        ) : (
          ""
        )
      }
      <BadgeButton text="Live Preview" svg={vercel} href={previewUrl} />
    </div>
  </div>
</article>
